body {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 27px;
    color: crimson;
}

p {
    text-align: justify;
}

.flexible-container {
    display: flex;
    margin-bottom: 5%;

}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
    height: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 195, 255), aquamarine);
    font-weight: 600;
    color: darkblue;
    padding: 10px 30px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 50px;
}

.color {
    color: darkorange;
}

.experience-item {
    width: 40%;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px aqua;


}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 70px;

}

#full-stack {
    border-top: 7px solid brown;
    border-bottom: 7px solid brown;

}

#baby-web {
    border-top: 7px solid blueviolet;
    border-bottom: 7px solid blueviolet;
}

footer p {
    text-align: center;
}